@import "tailwindcss";
#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
}

@theme {
	--font-family-display: "Londrina Shadow", sans-serif;
	--font-family-body: "Manrope", sans-serif;
}

.font-display {
	font-family: var(--font-family-display);
}
.font-body {
	font-family: var(--font-family-body);
}

body {
	background-image: linear-gradient(#165279, #133359, #0f1c3a);
}

.sliderRed {
	accent-color: rgb(187, 8, 8);
}
.sliderGreen {
	accent-color: rgb(15, 107, 50);
}
.sliderBlue {
	accent-color: rgb(27, 14, 206);
}
